question_extractor_model/** filter=lfs diff=lfs merge=lfs -text
C:/Users/parkm/Desktop/git/medical-chatbot-GPT2/question_extractor_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
